<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="eProdajaEntities" connectionString="metadata=res://*/Data.DM.csdl|res://*/Data.DM.ssdl|res://*/Data.DM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZRINKO;initial catalog=3023_3022;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>